<h1> <%= room.name %> </h1>

<pre>
<%= room.description %>
</pre>

<% if room.name == "death" || room.name == "The End" %>
    <p><a href="/">Play Again?</a></p>
<% else %>
    <p>
    <form action="/help" method="POST">
        <button type='submit'>Help</button>
    </form>
    <form action="/game" method="POST">
        <% if need_help %>
            <select name="action" id="action">
                <option value="">--Please choose an option--</option>
                <% puts room.paths.keys %>
                <% for option in room.paths.keys %>
                    <option value="<%= option %>"><%= option %></option>
                <% end %>
            </select>
        <% else %>
            - <input type="text" name="action">
        <% end %>
        <input type="SUBMIT">
    </form>
    </p>
<% end %>
